nav {
	margin-top: 40px;
	z-index: 101;
	transition: ease-in-out .3s;
	transform-origin: top;
	.flex {
		display: flex;
		justify-content: space-between;
		ul {
			list-style: none;
			display: flex;
			padding: 0;
			margin: 0;
			margin-top: 5px;
			gap: 60px;
			color: white;
			li {
				font-weight: 400;
				font-size: 18px;
				transition: ease-in-out .3s;
				&:hover {
					cursor: pointer;
					color: $background;
				}
			}
		}
		.icons {
			display: flex;
			z-index: 101;
			.shopping-bag {
				padding-left: 95px;
				min-width: 24px;
			}
			.hamburger {
				display: none;
				margin-left: 10px;
				min-width: 24px;
			}
			&.active {
				position: fixed;
				top: 0; right: 0;
				padding: 22px 20px 22px 130px;
				margin-top: 0;
				z-index: 105;
			}
		}
	}

	@media (max-width: 800px) {
		margin-top: 22px;
		.flex {
			.company-logo {
				max-width: 86px;
			}
			ul {
				display: none;
			}
			.icons {
				.shopping-bag {
					padding: 0;
				}
				.hamburger {
					display: block;
				}
			}
		}
	}
	&.pre-scroll {
		visibility: hidden;
		opacity: 0;
		min-width: -moz-available;
		min-width: -webkit-fill-available;
		min-width: fill-available;
		background: transparent;
		transform: translateY(-300%);
		.flex {
			max-width: 1760px;
   			margin: 0 auto;
		}
	}
	&.scrolled {
		transform: translateY(0);
		position: fixed;
		min-width: -moz-available;
		min-width: -webkit-fill-available;
		min-width: fill-available;
		background: linear-gradient(275.58deg, #000000 0%, #4B4B4B 100%);
		margin-top: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		.flex {
			max-width: 1760px;
   			margin: 0 auto;
		}
	}
}

.hamburger-menu {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	transition: ease-in-out .3s;
	right: 0;
	top: 0;
	width: 100%;
	box-shadow: 0 0 500px black;
	z-index: 100;
	&.active {
		opacity: 1;
		visibility: visible;
	}
	ul {
		padding-left: 0;
		margin-top: 63px;
		margin-bottom: 0;
		list-style: none;
		li {
			line-height: 40px;
			background-color: white;
			border-top: 1px solid #564e4e8e;
			padding: 10px 0px 10px 20px;
			&:active {
				color: $accent;
			}
		}
	}
}
